<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        {{/*  <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>  */}}
        <img src="{{ `images/calculator_clipart.jpg` | relURL }}" alt="Lifespan Calculator" width="80" height="100">
        <h2 class="h2">Lifespan Calculator <small class="d-none">🛡️</small></h2>
        <p>See your projected lifespan, updated dynamically based on your sleep, exercise, diet, and other lifestyle 
            habits—gaining data-driven insight into how your daily choices shape your long-term health. </p>
    </div>
    <div class="col-lg-4">
        {{/*  <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>  */}}
        <img src="{{ `images/community_clipart.png` | relURL }}" alt="Longevity Community" width="128" height="100">
        <h2 class="h2">Longevity Community <small class="d-none">🚀</small></h2>
        <p>Stay accountable and compete with friends as you engage in health-focused challenges, compare your longevity score 
            with peers, and get inspired by a like-minded longevity-driven community.</p>
    </div>
    <div class="col-lg-4">
        {{/*  <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>  */}}
        <img src="{{ `images/warning_clipart.png` | relURL }}" alt="AI-Backed Risk Analysis" width="100" height="100">
        <h2 class="h2">AI-Backed Risk Analysis <small class="d-none">📈</small></h2>
        <p>LongevIQ analyzes your data and flags the most critical lifestyle factors impacting your lifespan—whether it be 
            high blood pressure, inactivity, or poor sleep—empowering you to take the needed next steps.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Long-Term Health Tracking <small class="d-none">🦉</small></h2>
        <p>Set goals and track trends in your progress towards a longer life by logging diet, exercise, and sleep—or 
            sync with apps like Apple Health, Strava, and MyFitnessPal.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Newsfeed <small class="d-none">✨</small></h2>
        <p>Stay informed on the latest longevity research! LongevIQ scans the latest scientific studies on aging, nutrition, 
            and wellness—bringing you personalized insights on breakthroughs that can optimize your healthspan. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Daily Tips & Check-Ins <small class="d-none">🧰</small></h2>
        <p>Get daily tips tailored to your habits and alerts when your longevity score changes—so you can 
            celebrate improvements and learn from new health insights.</p>
    </div>
</div>
